<h1>Reviews</h1>
<% @reviews.each do |review|%>
<%= review.author %><br>
<%= review.title %><br>
<%= review.content %><br>
<%= review.photoUrl %>
  <% review.comments.each do |comment|%>
    <%= comment.author %>
    <%= comment.content %>
  <%end%>
<%end%>
